@page "/"
@using Models;
@using CountryPage.Data;
@inject ICountryDataClass countryservice;

<PageTitle>Index</PageTitle>

<h1>Country List</h1>

<ul>
    @foreach(CountryModel country in countrylist)
    {
        <li>
            @country.CountryName;
        </li>
    }
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    private List<CountryModel> countrylist = new List<CountryModel>();

    protected override async Task OnInitializedAsync()
    {
        await GetCountries();
    }

    private async Task GetCountries()
    {
        countrylist = await countryservice.GetAllCountries();
    }
}